<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Use %highlight for log levels and %cyan for other elements -->
            <pattern>%date [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.davidgable.jstruct" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
